/* commnon CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
  max-width: 1440px;
}
.btn{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: 12px 36px;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

/* header */
.header{
    background-image: url(../Assets/Hero-bg.png);

}
/* NavBar */
.nav{
    padding: 50px 150px;
}
.nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;

}
.nav ul li a.logo{
    font-family: "Inter", sans-serif;
    font-weight: 900;
    text-decoration: none;
    font-size: 34px;
    color: #4E47FF;
}

/* banner section */
.banner{
    text-align: center;
    padding: 152px 117px;
}
.banner h1{
    margin-bottom: 35px;
}

/* Main Section */
.main{
    padding: 0 150px;
    background-color: #F5F8FF;
}

/* Action section */
.action{
    padding: 115px 0;
    display: flex;
    justify-content: space-between;
}
.action img{
    width: 400px;
    border-radius: 50px;
}
.action .action_left{
    padding: 60px 0;
}
.action .action_left .action_title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.action .action_left .action_description{
    font-size: 24px;
    color: #2524327a;
    padding: 25px 0;
}
/* productive user section */
.productive_user{
    margin-bottom: 75px;
    padding: 50px 140px;
    border-radius: 25px;
    background-color: #4d47ff2f;
}
.productive_user_title{
    font-size: 36px;
    font-weight: bold;
    letter-spacing: .8;
    text-align: center;
    color: #252432;
}
.users{
    display: flex;
    padding: 50px 0;
    justify-content: space-around;
}
.user_title{
    font-family: "Inter", sans-serif;
    color: #4E47FF;
    font-size: 80px;
    font-weight: bold;
}
.user_subtitle{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #00000077;
}

/* our users say Section */
.users_say{
    margin: 135px 0;
}
.pro_users{
    display: flex;
    gap: 20px;
}
.pro_user{
    padding: 24px;
    background-color: #fff;
    border-radius: 15px;
    width: 365px;
    height: 242px;
    border-radius: 15px;
}
.pro_users .description{
    font-size: 16px;
}
.pro_users .pro_user_title{
    font-size: 24px;
    padding: 8px 0;
}
.pro_user .profile{
    display: flex;
    align-items: center;
    padding-bottom: 24px;
}
.pro_user_info{
    padding: 20px 0;
}
.pro_user .profile div h4{
    color: #757575;
    font-size: 16px;
}
.pro_user .profile div p{
    color: #B3B3B3;
    font-size: 16px;
}
.pro_user .profile img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.pro_user .profile div{
    padding: 15px;
}
/* Ready to focus better section */
.focus{
    text-align: center;
    padding: 70px 0;
    border-radius: 15px;
    background-color: #fff;
}
.focus .focus_title{
    padding: 20px 0;
}
.size{
    font-size: 16px;
    margin: 20px 0;
    font-weight: 500;
}
.focus img{
    width: 840px;
    border-radius: 50px;
}

/* Touch-section */
.Touch-section{
    display: flex;
    gap: 115px;
    padding: 80px 0;
}
.Touch-section .Touch_left h1{
    font-size: 96px;
    padding: 150px 0;
    font-weight: bold;
}


.Touch-section form{
    width: 100%;
}
.Touch-section form label{
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-top: 10px;
}
.Touch-section form  input{
    padding: 20px 32px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;
    border: none;
}
.Touch-section form textarea{
    padding: 20px 30px;
    width: 100%;
    border-radius: 10px;
    border: none;
}
.btn-touch{
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin: 20px 0;
    padding: 18px;
}